<p>Hello there!</p>
<form action="/birthday" method="post">
  What's your name?<br />
  <input type="text" name="name" /><br />
  When's your birthday?<br />
  <input type="date" name="bday" /><br />
  <input type="submit" value="Go!" /><br />
</form>
